/* General Styling */
ul {
  list-style-type: none;
}

body {
  background-color: white;
}
p {
  margin-bottom: 0px !important;
}

button {
  color: rgb(255, 255, 255);
}

hr {
  text-align: center;
  margin: 0px;
}

.navbar {
  background-color: rgb(65, 65, 65);
  border-bottom: 1px solid black;
  box-shadow: 1px 1px 3px black;
  margin-bottom: 0px;
  z-index: 1;
}

.navbar-brand {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

#navbar-list {
  padding: 0;
}

.nav-link {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px red, 0 0 5px darkred;
}

.nav-link:hover {
  color: rgb(190, 0, 0);
}

.about-me-flex-container {
  font-size: large;
  text-shadow: 1px 0px 0px black, 0 0 1px white;
  display: flex;
  flex-direction: row;
  background-color: #0099ff;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
  flex-wrap: wrap;
  justify-content: center;
}

#profile-pic {
  border-radius: 5%;
  width: 12.5rem;
  height: 15rem;
  box-shadow: 5px 5px 5px;
  flex: auto;
}

#profile-pic-flex-item {
  /* flex-grow: 1; */
}

#about-me-flex-item {
  max-width: 40em;
}

h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.card {
  box-shadow: -3px 3px 4px gray;
  margin: 0px;
}

#card-3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 80%;
}

.projects-container {
  margin-left: 0em;
  margin-right: 0em;
  padding: 3em;
}

#wave {
  width: 100%;
}

.animate {
  animation: slide-down 3s;
}

@keyframes slide-down {
  from {
    transform: translateY(-50rem);
  }
  to {
    transform: translateY(0rem);
  }
}
/*-------------
 	Footer
-------------*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #414a4f;
  padding: 20px 0;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
  font-size: 32px;
  justify-content: center;
  padding: 0;
}

footer ul li {
  margin: 0 8px;
}

footer ul li:first-child {
  margin-left: 0;
}

footer ul li:last-child {
  margin-right: 0;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

footer p a {
  color: #fff;
}

@media (max-width: 700px) {
  footer {
    padding: 20px 15px;
  }
}

@media (max-width: 700px) {
  .projects-container {
    padding: 0;
  }
}
